.banner {
   width: 100%;
   min-height: 100vh;
   position: relative;
   background:url('../img/bg.jpg') no-repeat center right/cover;
   padding-top: 205px;

}
.banner_wrapper {
}
.banner_uptitle {
}
.banner_title {
}
.banner_btn {
}
.button_link {
}
.btn {
}