.btn{
   background: $main-color;
   // height: 45px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   padding: 12px 25px;

   &:hover{
      color: $color06;
      background-color: $color09; 
      text-decoration: none;
   }
   &:active {
      color: $color06;
      background-color: $color10; 
      text-decoration: none;  
    }
}