.title{
   font-weight: bold;
   font-size: 3.6rem;
   line-height: 1.25 ;
   &_fz14{
      font-size: 1.4rem;
      line-height: 1.5 ;
   }
   &_fz16{
      font-size: 1.6rem;
      line-height: 1.5 ;
   }
   &_fz48{
      font-size: 4.8rem;
   }
}